@import "variables";
@import "loader.css";
@import "~bootstrap/scss/bootstrap";
@import "plugins.css";
@import "users/user-profile.css";

/*
  #### OVVERWRITE
*/

.table > thead > tr > th{
  color: $yellow;
}

.btn-warning{
  background-color: $yellow;
}

.badge {

  font-size: 100%;

}

.style-3.table-hover:not(.table-dark) tbody tr:hover .table-controls li.warning svg {
  color: $yellow;
  fill: rgba(245, 167, 0, 0.219608);
}

.style-3.categories li:hover svg {
  color: #e7515a;
  fill: rgba(231, 81, 90, 0.219608);
}
.style-3.categories li.warning:hover svg {
  color: $yellow;
  fill: rgba(245, 167, 0, 0.219608);
}


.header-container {
  z-index: 1030;
  border-bottom: 1px solid $yellow;
}
.header-container .navbar {
   background-color: $yellow;
 }

#sidebar ul.menu-categories li.menu > a span:not(.badge) {
  color: $yellow !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $yellow;
  border-color: $yellow;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  white-space: normal;
  color: $yellow;
  font-weight: 600;
  border: 1px solid #e0e6ed;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 13px;
}

.page-link {
  line-height: 1.25;
  color: $yellow;
}

span.mb-4.select2-container--default{
  margin-bottom: unset !important;
}

/*
.select2-container--open .select2-dropdown--below{
  background: $yellow;
  color: white;
}
*/

.infobox-3{
  margin-top: 45px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.user-profile .widget-content-area .user-info-list ul.contacts-block li a {
  font-weight: 600;
  font-size: 12px;
  color: #1b55e2;

}

.pricing__item {
  position: relative;
  text-align: center;
  flex: 0 1 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-one_hybrid.widget-followers .widget-heading  {
  color: #f5a700;
  border: 1px solid #f5a700;
}
.widget-one_hybrid.widget-followers {
  background: #fff ;
  p{
    color: #007CC3;;
  }
}
.widget-one_hybrid.widget-yellow {
  background: $yellow;
  color: #fff !important;

}
.widget-one_hybrid.widget-blue {
  background: #007cc3;
  color: #fff !important;
  p{
    color: #fff;
  }

}
.widget-one_hybrid.widget-followers .widget-heading  {
  color: #007cc3;
  border: 1px solid #007cc3;
}
.widget-one_hybrid.widget-blue .widget-heading  {
  color: #fff;
  border: 1px solid #fff;
}
